aiohttp
beautifulsoup4
chardet
datasets
faiss-cpu
fastapi
google-api-python-client
httpx
numpy
openai
pandas
pydantic
python-dotenv
requests
rouge
sentence-transformers
starlette
torch
tqdm
transformers
uvicorn
